*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:#c5d5e6;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.calculator{
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 20%;
  background-color: #f6fbff;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
}
.display-screen input{
  padding: 25px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgb(68, 68, 68);
  font-size: 1.3rem;
}
.buttons-part{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  margin-bottom: 12px;
}
.equal{
  grid-column: span 2;
}
button{
  padding: 20px 0px;
  background-color: #dce6f1;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
}
button:hover{
  background-color:#c5d5e6;
}
.ops{
    color: #001dda;
}

@media (max-width: 600px) {
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh; /* better for mobile */
  }
  .calculator {
    width: 100%;
    margin: 10px auto;
    padding: 15px;
  }
  .display-screen input {
    font-size: 20px;
    height: 50px;
  }

  .buttons-part {
    gap: 8px;
  }

  .buttons-part button {
    padding: 12px;
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .calculator {
    width: 60%;
  }
}  